@import url('http://fonts.cdnfonts.com/css/gotham');


*{
    font: 14px;
    margin: 0px;
    padding: 0px;
    font-family: 'Product Sans', sans-serif;
}

form{
    width: 650px;
    margin: 0 auto;
    margin-top: 260px;
    text-align: center;
}

form input[type="text"]{
    outline: none;
    border: 1px solid rgb(210, 210, 210);
    border-radius: 30px;
    padding: 12px 50px;
    width: 550px;
    margin-top: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

form input:hover{
    border: 1px solid 
}

form button{
    margin-top: 25px;
    color: #555;
    padding: 12px;
    border: none;
}